# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
dist/
build/
*.egg-info/

# Electron / Node
node_modules/
npm-debug.log
yarn-error.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Output
*.exe
